
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}

html {
  border: 15px solid #286dd4;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
  background: white;
}

.header {
  text-align: center;
  padding: 20px 40px 60px 40px;
}

.title {
  color: #286dd4;
  font-weight: 200;
  font-size: 3rem;
}

.patients {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}